/*--- google fonts import  --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

/*--- global element presets --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*--- styling below applies to title bar --- */

/*--- body presets --- */
body {
  font-family: "Poppins", sans-serif;
  margin: 0 10%;
}
/*--- styling below applies to header --- */
header {
  text-align: center;
  margin: 1.5% 0%;
  border-bottom: 2px solid black;
}
header img {
  float: left;
  width: 8vw;
  border-radius: 50%;
}
header h1 {
  font-size: 3vw;
}

@media screen and (max-width: 500px) {
  header {
    text-align: right;
  }
  header img {
    width: 20vw;
    margin-top: 5%;
  }
  header h1 {
    font-size: 7vw;
  }
}
/*--- styling below applies to footer ---*/
footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  text-align: center;
  padding: 1% 0% 0% 0%;
  font-size: 1.2vw;
}

@media screen and (max-width: 500px) {
  footer {
    font-size: 3vw;
  }
}
